<div style="height: 400px;" class="container mb-5 bg-success text-light p-5">
    <div class="row">
        <div class="col-lg-4">
            <h3><i class="fa-solid fa-graduation-cap"></i>Cookpedia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, recusandae optio in alias facere repellat cumque, veritatis eligendi beatae consectetur molestiae iusto rerum voluptatem. Porro ratione odio laborum quos mollitia.</p>
        </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-5">
            <h3>Sign up for our news letter</h3>
            <div class="d-flex my-5">
                <input placeholder="E mail please" type="text" class="form-control">
                <button  style="color: green;" class="btn text-light ms-2"><i class="fa-solid fa-arrow-right"></i></button>
            </div>
            <div class="row">
            <div class="col-4">
                <h5>Menu</h5>
                <a routerLink="" class="nav-link text-light active">Home</a>
                <a routerLink="recipes" class="nav-link text-light active">Recipes</a>
                <a routerLink="about" class="nav-link text-light active">About</a>
                <a routerLink="contact" class="nav-link text-light active">Contact</a>

            </div>
            <div class="col-4">
                <h5>Help</h5>
                <a routerLink="" class="nav-link text-light active">Privacy & Policy</a>
                <a routerLink="" class="nav-link text-light active">Terms of use</a>
                
                
            </div>
            <div class="col-4">
                <h5>Social</h5>
                <a routerLink="" class="nav-link text-light active">Facebook</a>
                <a routerLink="" class="nav-link text-light active">Instagram</a>
                <a routerLink="" class="nav-link text-light active">Twitter</a>
                <a routerLink="" class="nav-link text-light active">Youtube</a>

            </div>
            </div>
        </div>
    </div>
</div>