<app-header></app-header>
<div class="container">
    <div class="row p-5 bg-success">
        <div class="col-lg-2"></div>
        <div class="col-lg-4 text-light">
            <h1>The Easiest Way <br>
            To make your <br>
        Favorite meal</h1>
        <p style="text-align: justify;" class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero nemo, corporis consectetur commodi dignissimos accusamus beatae, possimus quibusdam iusto quos repellendus doloremque accusantium in fugiat. Assumenda aut nesciunt pariatur deleniti!</p>
        <a routerLink="/recipes" style="background-color: green;" class="btn text-light">Explore Recipes</a>

        </div>
        <div class="col-lg-4">
            <img style="margin-left: 150px;" class="w-50 landingImg" src="https://static.vecteezy.com/system/resources/thumbnails/036/512/678/small_2x/ai-generated-top-view-of-a-black-plate-with-indian-food-isolated-on-a-transparent-background-png.png" alt="">
        </div>
    </div>

    <!-- popular recipe -->
     <div class="my-5 p-5">
        <h1>Popular Recipe of the week</h1>
        <div class="d-flex justify-content-between">
            <p>Our most popular recipes of the week</p>
            <a routerLink="/recipes">View All</a>
        </div>
        <div class="row my-3">
            <div class="col-lg-4">
                <div class="card">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT55xLxhJEon27_H10qBFu7bubTUsp1mkCae_2tHl7P1ejRrsLN4RRNhBd7Mp7-4cFpJ1o&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"> title</h5>
                     
                    </div>
                  </div>
            </div>
        </div>
     </div>

     <!-- banner -->
      <div class="row align-items-center my-5 " style="height: 400px;background-image: url('https://hips.hearstapps.com/hmg-prod/images/grilled-chicken-breast-lunch-bowl-with-fresh-tomato-royalty-free-image-1684934244.jpg'); background-size: cover;">
        
        <div class="col-lg-6"></div>
        <div class="col-lg-6">
            <div class="bg-light rounded p-5 w-75">
                <h3>50+ Recipes that very quick and fast</h3>
                <p class="text-secondary mt-3">Find the perfect food ideas to start your day with the quick and easiest way.</p>
            </div>
        </div>
      </div>

    <!-- download app -->

    <div style="height: 450px;" class="my-5 row text-light align-items-center bg-success rounded p-5">
        <div class="col-lg-6">
            <img height="350px" src="https://toppng.com/uploads/thumbnail/android-app-on-google-play-11568829115kt4gig8l67.png " alt="">
        </div>
        <div class="col-lg-6">
            <h1>download App</h1>
            <h5 class="my-3">Download the app from app store or <br>
            Google play for best experience</h5>
            <div class="d-flex justify-content-center align-items-center">
                <img width="150px" src="https://freepngimg.com/download/android/67006-app-play-google-android-store-free-clipart-hd.png " alt="">
                <img width="150px" src="https://benic360.com/wp-content/uploads/2020/06/apple-store-icon-png-8.png" alt="">
            </div>
        </div>

    </div>

    <div class="text-center my-5">
        <h1>Client Testmonials</h1>
   <marquee behaviour="" direction="">
            <div class="row my-5">
                <div class="col-lg-4">
                    <div class="rounded border w-100 p-3">
                        <h5>Name</h5>
                        <p style="white-space: normal; width: 100%; text-align: justify;" class="w-100">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta consequuntur dolorem dignissimos accusantium odio quos quia! Ipsam aspernatur ratione incidunt numquam esse quas dignissimos error, asperiores aliquam sequi quis laborum.</p>
                    </div>
                    
                </div>
            </div>
   </marquee>
    </div>
</div>